.navbar-default {
  

    border-color: transparent;
    margin-bottom: 0px;
    margin-left: -15px;
    margin-right: -15px;
  
}

.navbar-right {
  
  img {
    
    padding: 5px;
    
  }
  
}

.container-nav {
  
  border-bottom: 1px solid #efefef;
  
}