.panel-primary > .panel-footer.branded {
  
  background-color: $brand-primary;
  border-top: 1px solid $brand-primary;
  
}

.media {
  
  min-height: 10em;
 
}

@media (min-width: 768px) {
  
  .media {
  
    min-height: 8em;

  }
  
}