.panel-primary > .panel-footer.branded {
  
  background-color: $brand-primary;
  border-top: 1px solid $brand-primary;
  
}

.panel-testimonial {
  
  .panel-testimonial-header {
    
    margin-left: -15px;
    margin-right: -15px;
    background-color: $brand-primary;
    color: $gray;
    padding: 10px;
    margin-top: 0px;
    border: 1px solid darken($brand-primary, 10%);
    border-bottom: none;
    border-top: none;
    text-align: center;
    
    h3 {
      
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 1.5em;
      
    }
  }
  
  .panel-testimonial {
    
    min-height: 25em;
    
  }
  
  .panel-testimonial-body {
    
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px;
    
    .panel-testimonial-sub-heading {
      
      
    }
  }
}

.card-team-member {
  
  margin-bottom: 1em;
  
}

.card-full {
  
  min-height: 11em;
  
}


.media {
  
  min-height: 10em;
 
}

@media (min-width: 768px) {
  
  .media {
  
    min-height: 11em;

  }
  
}

