#services {
  
  padding: 50px;
  background-color: $gray-lighter;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

#hero {
  
  margin-top: 25px;
  
}

#clients {
  
  padding: 50px;
  background-color: $gray-lighter;
  
}