#services {
  
  background-color: $gray-lighter;
  margin-top: 20px;
  padding: 50px 0 50px 0;
  margin-bottom: 20px;
  
}

#hero {
  
  margin-top: 25px;
  
}

#clients {
  
  padding: 50px;
  background-color: $gray-lighter;
  
}

#features {
  
  margin-bottom: 80px;
  margin-top: 3em;
}