#services {
  
  background-color: $gray-lighter;
  margin-top: 20px;
  padding: 50px 0 50px 0;
  margin-bottom: 20px;
  
}

#hero {
  
  margin-top: 0.5em;
  
}

#clients {
  
  padding: 50px;
  background-color: $gray-lighter;
  
}

#features {
  
  margin-bottom: 80px;
  margin-top: 3em;
}

.container-white {
  
  background-color: white;
  
}

.no-gutter {
  
  margin-left: -15px;
  margin-right: -15px;
  
}

.jumbotron {
  
  margin-top: 1em;
  width: 100%;  
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  
  a {
    
    color: black;
    
  }
}

.nav-top {
  
  margin-top: 1em;
  
}

.testimonial-block {
  
  margin-top: 6em;
  
}

.nav-block-container {
  
  margin-left: 15px;
  margin-right: 15px;
  
}

.nav-block {
  
  border: 1.5px solid #DDB718;
  padding: 1em;
  background-color: $brand-primary;
  
}

#our-team {
  
  margin-bottom: 2em;
  
}

#featured-services {
  
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  
}

.spacer {
  
  margin-top: 1em;
  margin-bottom: 1em;
}

.service-item {
  
  margin-bottom: 3em;
  
  footer {
    
    margin-top: 2em;
    
  }
  
}