h2 {
  
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 1.5em;
  
}

//

#features {
  
  text-align: center;
  
  h3 {
    
    margin-bottom: 1em;
    
    span {
      
      border-bottom: 3px solid;
      padding: 5px 10px;
      line-height: 1.5em;
      
    }
    
  }  
  
}

.jumbotron {
  
  h1 {
    
    font-size: 3.5em;
    font-weight: 700;
    margin-top: 2.5em;
    
  }
  
}

// @Template: Form
//
// As a user, I want to know what details are required, so that I can successfully get in contact

span.required {
  
  color: red;
  font-size: 0.8em;
  
}

.section-header {
  
  margin-top: 2.5em;
  text-align: center;
  
}

.hero-text {
  
  margin-bottom: 6em;
  
}

.navbar-brand {
    
    font-weight: 700
  }

@media (max-width: 768px) {
  
  .jumbotron {
    
    h1 {
      
      padding-top: 2em;
      font-size: 2em;
      margin-top: 0px;
      padding-bottom: 1em;
      color: white;
      
    }
    
    margin-left: 0;
    margin-right: 0;

  }
  
}

@media screen and (max-width: 450px){
  .hero-text{
    
    margin-bottom: 1em
      
  }
  
  .navbar-brand {
    
    width: 230px;
    height: 70px;
    
  }
}

.service-text {
  
  margin-bottom: 2em;
  
}