

//

#features {
  
  text-align: center;
  
  h3 {
    
    color: $brand-info;
    
  }  
  
}

// @Template: Form
//
// As a user, I want to know what details I have to fill in, so that I can successfully get in contact

span.required {
  
  color: red;
  font-size: 0.8em;
  
}