---
title: Disclaimers &amp; Attributions
---

<div class="container container-white">
  
  <div class="col-md-8">
    <h1>Disclaimers &amp; Attributions</h1>
    <p>Find below our following policies and attributions:</p>
    <ul>
      <li><a href="#cookie-policy">Cookie Policy</a></li>
      <li><a href="#attributions">Attributions</a></li>
    </ul>
    <h2 id="cookie-policy">Cookie Policy</h2>
    <p>Like most websites, we use cookies and similar tools across our website to improve your experience and our website's performance</p>
    <h3>What are cookies?</h3>
    <p>Cookies are small text files which a website may put on your computer or mobile device when you first visit a site or page. The cookie will help the website to recognise your device the next time you visit.</p>
    <p>Cookies do many things. For example, they can help us to analyse how well our website is performing, or even allow us to recommend content we believe will be most relevant to you.</p>
    <p>Certain cookies contain personal information. For example, if you click to "remember me" when logging in, a cookie will store your username. Most cookies won't collect information that identifies you. Instead, cookies will collect more general information such as how users arrive at and use our website, or a user's general location.</p>
    <h3>What cookies do we use?</h3>
    <p>We primarily use Cookies for two reasons. One is for logging in users into the system, the other is to track usage on the website so that we can improve your experience and help you get the most out of the website.</p>
    <p>We use Google Analytics cookies in order to evaluate your use of the website and compile reports for us on activity on the website. You can learn about Google Analytics cookies by visiting this site: <a href="www.google.com/intl/en/privacypolicy.html" target="_blank">www.google.com/intl/en/privacypolicy.html</a></p>
    <h2 id="attributions">Attributions</h2>
    <h3>NHS Logo and Colour Logos</h3>
    <p>All rights are reserved on all NHS logos and colour logos.</p>
    <h3>Black and White Logos</h3>
    <p>All black and white icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> and licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
  </div>
  
  <div class="col-md-4">
    <hr>
      <%= partial "partials/form" %>
    <hr>
  </div>

</div>

<%= partial "partials/contact-modal" %>