---
title: Radiation Protection Assurance
---

<div class="container container-white">
  
  <section id="hero" class="no-gutter">
    <%= partial "partials/hero-unit" %>
  </section>
  
  <%= partial "partials/our-services" %>
  
  <div class="col-md-12">
    <h2 class="section-header">Additional Services</h2>
      <section id="service-index">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <section class="service-item">
              <header>
                <h4 class="media-heading">Diagnostic Radiology Including Mammography</h4>
              </header>
              <article>
                <p>The four Radiation Protection Advisers are individually certificated, as required by IRR99 and HSE guidance and re-accredit on a 5 yearly basis. Two of the RPAs are also accredited Radioactive Waste Advisers. All Clinical Scientists are registered with the Health and Care Professions Council, undertake Continuing Professional Development and annual performance appraisal.</p>
                <p>All quality assurance is performed in accordance with the standards detailed in:</p>
                <ul>
                  <li>IPEM Report 91 Recommended Standards for the Routine Performance Testing of Diagnostic X-ray Imaging Systems</li>
                  <li>IPEM Report 89 The Commissioning and Routine Testing of Mammographic X-ray Systems</li>
                  <li>IPEM Report 107 The Critical Examination of X-Ray Generating Equipment in Diagnostic Radiology</li>
                  <li>NHSBSP Equipment Report 0604  COMMISSIONING AND ROUTINE TESTING OF FULL FIELD DIGITAL MAMMOGRAPHY SYSTEMS Version 4, March 2012</li>
                  <li>NHSBSP Mammography equipment QA is compliant with national and regional protocols.</li>
                </ul>
              </article>
              <footer>
                <a role="button" href="#" class="btn btn-lg btn-info btn-block btn-call-out hidden-md hidden-lg" data-toggle="modal" data-target="#myModal">Contact us</a>
              </footer>
            </section>
          </div>

          <div class="col-md-5">
            <section class="service-item">
              <header>
                <h4 class="media-heading">Optical Radiation including lasers/ILS/UV and PDT</h4>
              </header>
              <article>
                <p>We advise on Radiation Protection for Non-ionising radiations (UV, Lasers, IPLs) under the general provisions of the HSW and MHSWR and also advise on compliance with the AORD, which requires risk assessments for all intense light sources.</p>
                <p>This includes non-ionising radiation protection advice as and when required relating to Laser and Ulraviolet light, in particular to include advice on:</p>
                <ul>
                  <li>Design, construction and modification of premises</li>
                  <li>Interpretation of regulations and methods of compliance</li>
                  <li>Contents and revision of Local Rules and Systems of Work for new installations</li>
                  <li>Training requirements of staff for compliance with regulations and guidance</li>
                </ul>
              </article>
              <footer>
                <a role="button" href="#" class="btn btn-lg btn-info btn-block btn-call-out hidden-md hidden-lg" data-toggle="modal" data-target="#myModal">Contact us</a>
              </footer>
            </section>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <section class="service-item">
              <header>
                <h4 class="media-heading">Ultrasound Imaging</h4>
              </header>
              <article>
                <p>Ultrasound testing will follow national guidelines as set out in IPEM report 102 (2010) “Quality assurance of Ultrasound Imaging Systems” and NHSBSP Report 70 (2011) “Guidance notes for the acquisition 7 testing of ultrasound scanners for use in the NHS Breast screening programme”.</p>
                <p>Equipment QA and probe test results will indicate deterioration in existing equipment. Advice will be provided in the identification of replacement equipment.</p>
                <p>The service includes:</p>
                <ul>
                  <li>Commission all scanners and get baseline</li>
                  <li>Train local users in monthly QA</li>
                  <li>Local users to perform monthly QA and send results</li>
                  <li>Provide monthly feedback on results</li>
                  <li>Perform a yearly check on the scanners</li>
                  <li>Perform checks during problems or call-outs</li>
                </ul>
                <p>Quality assurance measurements of equipment calibration will also be performed after major modification or repair.</p>
              </article>
              <footer>
                <a role="button" href="#" class="btn btn-lg btn-info btn-block btn-call-out hidden-md hidden-lg" data-toggle="modal" data-target="#myModal">Contact us</a>
              </footer>
            </section>
          </div>
          
          <div class="col-md-5">
            <section class="service-item">
              <header>
                <h4 class="media-heading">Magnetic Resonance Imaging</h4>
              </header>
              <article>
                <p>Provision of advice to Trust Management on compliance with regulations and standards covering the use of MRI including the role of Magnetic Resonance Safety Adviser.</p>
                <p>We provide NIR Clinical Scientists for MRSA support for all sources of non-ionising radiations, advice and assistance on policies, risk assessments, procedures, Local Rules and other relevant documentation.</p>
                <p>Proactive advice is provided following publication of new legislation or guidance. We will provide Magnetic Resonance Imaging Safety Advice as and when required , in particular to include advice on:</p>
                <ul>
                  <li>Interpretation of guidance and methods of compliance</li>
                  <li>Guidance on MR safety issues, including MRI compatibility of medical devices</li>
                  <li>Advice on Magnetic Resonance equipment requirements</li>
                  <li>Training requirements of staff for routine quality assurance</li>
                </ul>
              </article>
              <footer>
                <a role="button" href="#" class="btn btn-lg btn-info btn-block btn-call-out hidden-md hidden-lg" data-toggle="modal" data-target="#myModal">Contact us</a>
              </footer>
            </section>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <section class="service-item">
              <header>
                <h4 class="media-heading"></h4>
              </header>
              <article>

              </article>
              <footer>

              </footer>
            </section>
          </div>
          
          <div class="col-md-5">
            <section class="service-item">
              <header>
                <h4 class="media-heading"></h4>
              </header>
              <article>

              </article>
              <footer>

              </footer>
            </section>
          </div>
        </div>
    </section>
  </div>

  <%= partial "partials/contact-modal" %>
</div>