<!-- Button trigger modal
<button type="button" class="btn btn-success btn-modal" data-toggle="modal" data-target="#myModal">
  Contact us 
</button>
-->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Contact us</h4>
      </div>
      <div class="modal-body">
              <form id="service-request-form">
      <div class="form-group">
        <label for="customerName">Full name <span class="required">(required)</span></label>
      <input type="text" class="form-control" id="customerName" placeholder="Full Name" required>
      </div>
      <div class="form-group">
        <label for="jobTitle">Job Title <span class="required">(required)</span></label>
      <input type="text" class="form-control" id="jobTitle" placeholder="Job Title" required>
      </div>
      <div class="form-group">
        <label for="customerCompany">Organisation <span class="required">(required)</span></label>
      <input type="text" class="form-control" id="customerCompany" placeholder="Organization" required>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number <span class="required">(required)</span></label>
      <input type="tel" class="form-control" id="phoneNumber" placeholder="Phone Number" required>
      </div>
      <div class="form-group">
        <label for="customerEmail">Email address <span class="required">(required)</span></label>
        <input type="email" class="form-control" id="customerEmail" placeholder="Email" required>
      </div>
      <div class="form-group">
        <label for="servicesRequired">Service Requested</label>
        <select class="form-control" id="servicesRequired">
        <option>Radiation Protection</option>
        <option>Training</option>
        <option>etc.</option>
        <option>etc.</option>
        <option>etc.</option>
      </select>
      </div>
      <div class="form-group">
        <label for="customerMessage">Requirements &amp; Further Information</label>
        <textarea class="form-control" id="customerMessage" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-block btn-danger">Send</button>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>