<div class="row">
    <div class="col-md-3 col-sm-6">
      <%= image_tag "sheffield-childrens-nhs-foundation-trust.png", class:"img-responsive", width: "100%" %>
    </div>
    
    <div class="col-md-3 col-sm-6">
      <%= image_tag "sth-trans.png", class:"img-responsive", width: "100%" %>
    </div>
  
    <div class="col-md-3 col-sm-6">
      <%= image_tag "sheffield-childrens-nhs-foundation-trust.png", class:"img-responsive", width: "100%" %>
    </div>
  
    <div class="col-md-3 col-sm-6">
      <%= image_tag "sheffield-childrens-nhs-foundation-trust.png", class:"img-responsive", width: "100%" %>
    </div>
</div>