<div class="container">
  <div class="col-md-12">
    <footer id="rpa">
      
      <p class="pull-right"><%= link_to "Home", "/index.html" %> | <%= link_to "Disclaimer and Attributions", "/disclaimer-attributions.html" %></p>
      <%= image_tag "sth-trans.png" %>
      
    </footer>
  </div>
</div>