<div class="container">
  <div class="jumbotron" style="background-image: url('https://pretty-visual.codio.io/rpa--ui/source/images/web_banner.jpg')">
    <div class="row">
      <div class="col-md-12">
        <h1>Radiation Protection Assurance</h1>
        <p class="lead">World-class Radiation Protection from an award winning hospital</p>
      </div>
      <div class="col-md-4">
        <a role="button" href="#" class="btn btn-lg btn-block btn-danger">Contact us</a>
      </div>
    </div>
  </div>
</div>