<div class="jumbotron">
  <div class="row">
    <div class="col-md-12">
      <section class="hero-text">
        <h1>Radiation Protection Assurance</h1>
        <p class="lead">World-class Radiation Protection from an award winning hospital</p>
        <br>
      </section>
    </div>

        <div class="col-md-3 col-sm-6 nav-block">
          <a href="#main">
              <img width="64" src="images/circle156.png">  
              <h5>Our Services</h5>

           </a>
        </div>

        <div class="col-md-3 col-sm-6 nav-block">
          <a href="#service-request-form">
            
            <img width="64" src="images/email19.png">  
            <h5>Contact us</h5>
          </a>
        </div>

        <div class="col-md-3 col-sm-6 nav-block">
          <a href="#questions">
            <img width="64" src="images/quotation_white.png">  
            <h5>Testimonials</h5>
          </a>
        </div>

        <div class="col-md-3 col-sm-6 nav-block">
          <a href="#further-resources">
            <img width="64" src="images/multiple25.png">  
            <h5>Our Team</h5>
          </a>
        </div>

  </div>
</div>