<div class="jumbotron">
  
  <%= image_tag "radiation-header-full.jpg", class: "img-responsive hidden-xs"%>
  
  <h1 class="visible-xs">For all of your radiation protection, advice and assurance needs</h1>
  
  <section class="nav-block-container">
      <div class="row">
        <div class="col-md-3 col-sm-6 nav-block">
          <% link_to hero_services_link('our-services') do %>
            <img width="64" src="images/circle156.png">  
            <h5>Our Services</h5>
          <% end %>
        </div>

        <div class="col-md-3 col-sm-6 nav-block">
          <a href="#" data-toggle="modal" data-target="#myModal">
            <img width="64" src="images/email19.png">  
            <h5>Contact us</h5>
          </a>
        </div>

        <div class="col-md-3 col-sm-6 nav-block">
          <a href="<%= in_page_link_or('testimonials') %>">
            <img width="64" src="images/quotation_white.png">  
            <h5>Testimonials</h5>
          </a>
        </div>

        <div class="col-md-3 col-sm-6 nav-block">
          <% link_to "/our-team.html#article" do %>
            <img width="64" src="images/multiple25.png">  
            <h5>Our Team</h5>
          <% end %>
        </div>
    </div>  
  </section>

</div>