<div class="container">
  <div class="col-md-4 col-sm-4">
    <%= image_tag "png/clipboard44.png", width: "84" %>
    <h3><span>Major Feature</span></h3>
    <p>Sea te malis persius, est et quem vitae urbanitas, an nam constituam scribentur. Ut debet detracto qui.</p>
  </div>

  <div class="col-md-4 col-sm-4">
     <%= image_tag "png/clipboard44.png", width: "84" %>
    <h3><span>Major Feature</span></h3>
    <p>Sea te malis persius, est et quem vitae urbanitas, an nam constituam scribentur. Ut debet detracto qui.</p>
  </div>

  <div class="col-md-4 col-sm-4">
    <%= image_tag "png/clipboard44.png", width: "84" %>
    <h3><span>Major Feature</span></h3>
    <p>Sea te malis persius, est et quem vitae urbanitas, an nam constituam scribentur. Ut debet detracto qui.</p>
  </div>
</div>