<nav>
  <div class="container container-white">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <%= image_tag "five-icons.png", class:"hidden-xs", width: "100%" %>
      </div>

      <div class="col-md-4 col-md-offset-5 col-sm-6 col-xs-12">     
          <ul class="nav nav-pills nav-top">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Our Services</a></li>
            <li role="presentation"><a type="button" class="btn btn-success btn-modal" data-toggle="modal" data-target="#myModal">Contact us</a></li>
          </ul>
      </div>
    </div>
  </div>
</nav>