  <div class="row">
    
    <div class="col-md-12">
      <div class="testimonial-block">
        <h2 class="text-center">Our Customers</h2>
      </div>
    </div>
    
    <div class="col-md-3">
      <article class="panel-testimonial">
        
        <header class="panel-testimonial-header">
          <h3>Generic Job role</h3>
        </header>
        
        <section class="panel-testimonial-body">
          <h5 class="panel-testimonial-sub-heading">Company</h5>
          <p>Sea te malis persius, est et quem vitae urbanitas, an nam constituam scribentur. Ut debet detracto qui. Nec in vitae intellegat, nam ei euismod propriae placerat.</p>
          <p class="panel-testimonial-footer">Name of Person - Specific Job Title</p>
        </section>

      </article>
    </div>
    
    <div class="col-md-3">
      <article class="panel-testimonial">
        
        <header class="panel-testimonial-header">
          <h3>Generic Job role</h3>
        </header>
        
        <section class="panel-testimonial-body">
          <h5 class="panel-testimonial-sub-heading">Company</h5>
          <p>Sea te malis persius, est et quem vitae urbanitas, an nam constituam scribentur. Ut debet detracto qui. Nec in vitae intellegat, nam ei euismod propriae placerat.</p>
          <p class="panel-testimonial-footer">Name of Person - Specific Job Title</p>
        </section>

      </article>
    </div>
    
    <div class="col-md-3">
      <article class="panel-testimonial">
        
        <header class="panel-testimonial-header">
          <h3>Generic Job role</h3>
        </header>
        
        <section class="panel-testimonial-body">
          <h5 class="panel-testimonial-sub-heading">Company</h5>
          <p>Sea te malis persius, est et quem vitae urbanitas, an nam constituam scribentur. Ut debet detracto qui. Nec in vitae intellegat, nam ei euismod propriae placerat.</p>
          <p class="panel-testimonial-footer">Name of Person - Specific Job Title</p>
        </section>

      </article>
    </div>
    
    <div class="col-md-3">
      <article class="panel-testimonial">
        
        <header class="panel-testimonial-header">
          <h3>Generic Job role</h3>
        </header>
        
        <section class="panel-testimonial-body">
          <h5 class="panel-testimonial-sub-heading">Company</h5>
          <p>Sea te malis persius, est et quem vitae urbanitas, an nam constituam scribentur. Ut debet detracto qui. Nec in vitae intellegat, nam ei euismod propriae placerat.</p>
          <p class="panel-testimonial-footer">Name of Person - Specific Job Title</p>
        </section>

      </article>
    </div>
    
  </div>