<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="well">
        <p>"Sea te malis persius, est et quem vitae urbanitas, an nam constituam scribentur. Ut debet detracto qui. Nec in vitae intellegat, nam ei euismod propriae placerat, cu veritus patrioque percipitur qui. Pertinax electram et per, mei reque idque prodesset no, semper persequeris eos at. Et nibh possit ornatus est."</p>
        <p class="lead"><cite>The Person Talking</cite></p>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="well">
        <p>"Sea te malis persius, est et quem vitae urbanitas, an nam constituam scribentur. Ut debet detracto qui. Nec in vitae intellegat, nam ei euismod propriae placerat, cu veritus patrioque percipitur qui. Pertinax electram et per, mei reque idque prodesset no, semper persequeris eos at. Et nibh possit ornatus est."</p>
        <p class="lead"><cite>The Person Talking</cite></p>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="well">
        <p>"Sea te malis persius, est et quem vitae urbanitas, an nam constituam scribentur. Ut debet detracto qui. Nec in vitae intellegat, nam ei euismod propriae placerat, cu veritus patrioque percipitur qui. Pertinax electram et per, mei reque idque prodesset no, semper persequeris eos at. Et nibh possit ornatus est."</p>
        <p class="lead"><cite>The Person Talking</cite></p>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="well">
        <p>"Sea te malis persius, est et quem vitae urbanitas, an nam constituam scribentur. Ut debet detracto qui. Nec in vitae intellegat, nam ei euismod propriae placerat, cu veritus patrioque percipitur qui. Pertinax electram et per, mei reque idque prodesset no, semper persequeris eos at. Et nibh possit ornatus est."</p>
        <p class="lead"><cite>The Person Talking</cite></p>
      </div>
    </div>
  </div>
</div>