  <div class="row">
    
    <div class="col-md-12">
      <div class="testimonial-block">
        <h2 class="text-center">Testimonials</h2>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-6">
      <article class="panel-testimonial">
        
        <header class="panel-testimonial-header">
          <h3>Radiation Protection</h3>
        </header>
        
        <section class="panel-testimonial-body">
          <h5 class="panel-testimonial-sub-heading">smiles MedTEC consulting ltd</h5>
          <p>"I’ve had the pleasure to work with Giles and the Radiation Protection Assurance (RPA) team while implementing and installing radiotherapy equipment at the Royal Hallamshire Hospital."</p><p>"The RPA team were enthusiastic and committed to providing the highest level of support and training, to both the Trust and manufacturing staff alike."</p>
          <p class="panel-testimonial-footer">Dawn Smiles  - Clinical Director at smiles MedTEC consulting ltd</p>
        </section>

      </article>
    </div>
    
    <div class="col-md-3 col-sm-6">
      <article class="panel-testimonial">
        
        <header class="panel-testimonial-header">
          <h3>Corporate Assurance</h3>
        </header>
        
        <section class="panel-testimonial-body">
          <h5 class="panel-testimonial-sub-heading">Freelance Clinical and Regulatory Professional</h5>
          <p>"I was very satisfied with the radiation protection assurance team’s responsiveness and professional approach. I am very happy to recommend Giles and the team again.</p><p>As a freelance consultant I work with many companies who may be requiring this type of service and I will be sure to ask for your assistance in the future."</p>
          <p class="panel-testimonial-footer">Orit Yarden - Clinical and Regulatory professional</p>
        </section>

      </article>
    </div>
    
    <div class="col-md-3 col-sm-6">
      <article class="panel-testimonial">
        
        <header class="panel-testimonial-header">
          <h3>Generic Job role</h3>
        </header>
        
        <section class="panel-testimonial-body">
          <h5 class="panel-testimonial-sub-heading">Company</h5>
          <p>Sea te malis persius, est et quem vitae urbanitas, an nam constituam scribentur. Ut debet detracto qui. Nec in vitae intellegat, nam ei euismod propriae placerat.</p>
          <p class="panel-testimonial-footer">Name of Person - Specific Job Title</p>
        </section>

      </article>
    </div>
    
    <div class="col-md-3 col-sm-6">
      <article class="panel-testimonial">
        
        <header class="panel-testimonial-header">
          <h3>Generic Job role</h3>
        </header>
        
        <section class="panel-testimonial-body">
          <h5 class="panel-testimonial-sub-heading">Company</h5>
          <p>Sea te malis persius, est et quem vitae urbanitas, an nam constituam scribentur. Ut debet detracto qui. Nec in vitae intellegat, nam ei euismod propriae placerat.</p>
          <p class="panel-testimonial-footer">Name of Person - Specific Job Title</p>
        </section>

      </article>
    </div>
    
  </div>